@media (max-width: 1399px) {
  .container {
    width: 95%;
  }
  .header {
    &__pictures {
      transform: matrix(1, 0.09, -0.11, 0.99, 0, 0) scale(0.75);
      top: 96px;
      right: -150px;
    }
  }
  .team {
    &__wrapper {
      transform: translateX(-30px);
    }
  }
  .projects {
    &__wrapper {
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }
  .questions {
    &__pic-wrapper {
      transform: scale(0.9);
      right: -33px;
    }
  }
  .contact {
    &__wrapper {
      background-size: cover;
      border-radius: 32px;
      &-img {
        bottom: -28px;
        & img {
          width: 100%;
          height: 100%;
          transform: scale(0.9);
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .header {
    &__pictures {
      transform: matrix(1, 0.09, -0.11, 0.99, 0, 0) scale(0.68);
    }
    &__block {
      max-width: 470px;
    }
  }
  .team {
    &__wrapper {
      transform: translateX(-32px);
    }
  }
  .testimonials {
    &__wrapper-first {
      transform: translateX(-535px);
    }
    &__wrapper-second {
      transform: translateX(-350px);
    }
  }
  .questions {
    &__wrapper {
      grid-template-columns: minmax(440px, 500px) 1fr;
    }
    &__pic-wrapper {
      transform: scale(0.6);
      right: -136px;
    }
  }
  .contact {
    &__wrapper {
      grid-template-columns: 1fr;
      &-img {
       display: none;
      }
    }
    &__section {
      padding: 50px 35px;
    }
  }
}
@media (max-width: 991px) {
  .header {
    &__pictures {
      display: none;
    }
    &__block {
      max-width: initial;
    }
    &__menu {
      width: 480px;
    }
  }
  .service {
    &__items {
      grid-template-columns: repeat(2, minmax(250px, 381px));
      grid-template-rows: repeat(auto-fit, minmax(320px, auto));
    }
  }
  .team {
    &__wrapper {
      transform: translateX(-157px);
    }
  }
  .solutions {
    &__item {
      padding: 0 40px;
    }
  }
  .pricing {
    &__container {
      grid-template-columns: 1fr;
      justify-items: center;
      column-gap: initial;
      row-gap: 40px;
    }
    &__wrapper-benefits {
      margin-right: 0;
    }
    &__btn {
      display: none;
    }
    .btn_mobile {
      display: flex;
    }
  }
  .testimonials {
    &__wrapper-first {
      transform: translateX(-650px);
    }
    &__wrapper-second {
      transform: translateX(-480px);
    }
  }
  .questions {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__pic-wrapper {
      display: none;
    }
  }
  .contact {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .burger {
    &__wrapper {
      position: absolute;
      height: 100vh;
      width: 300px;
      right: -2.46vw;
      top: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      background-color: #f3f3f3;
      transition: opacity .5s;
      z-index: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-icon {
      display: initial;
      & svg {
        width: 16px;
        height: 16px;
      }
      cursor: pointer;
    }
    &-button {
      display: none;
      &:checked ~ .burger__wrapper{
        visibility: initial;
        opacity: 1;
        pointer-events: auto;
      }
    }
    &__nav-close {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 30px;
      display: block;
      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  .header {
    overflow: hidden;
    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      gap: 50px;
      &-btn {
        display: none;
      }
    }
  }
  .btn_mobile {
    display: flex;
  }
  .service {
    margin-top: 60px;
    &__items {
      grid-template-columns: repeat(1, minmax(250px, 381px));
      grid-template-rows: repeat(auto-fit, minmax(320px, auto));
    }
  }
  .works {
    &__wrapper {
      height: 300px;
    }
  }
  .team {
    &__wrapper {
      transform: translateX(-387px);
    }
  }
  .solutions {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__item {
      padding: 0 30px;
      &:nth-child(1) {
        border: none;
      }
      &:nth-child(2) {
        border: none;
      }
    }
    &__desc {
      margin-bottom: 48px;
    }
  }
  .testimonials {
    &__wrapper-first {
      transform: translateX(-750px);
    }
    &__wrapper-second {
      transform: translateX(-580px);
    }
  }
  .contact {
    &__wrapper {
      background-position-x: -400px;
    }
  }
}
@media (max-width: 575px) {
  .header {
    &__title {
      font-size: 48px;
      padding-top: 10px;
    }
    &__review {
      margin-top: 48px;
    }
  }
  .service {
    margin-top: 20px;
    margin-bottom: 100px;
    &__title {
      font-size: 32px;
      margin-bottom: 32px;
      letter-spacing: 0;
    }
  }
  .works {
    margin-bottom: 100px;
    &__wrapper {
      height: 204px;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }
  .team {
    &__wrapper {
      transform: translateX(-532px) scale(0.94);
      margin-bottom: 100px;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 39px;
    }
  }
  .solutions {
    &__title {
      font-size: 32px;
      margin-bottom: 48px;
    }
    &__wrapper {
      margin-bottom: 100px;
    }
  }
  .projects {
    margin-bottom: 100px;
    &__title {
      margin-top: 8px;
      font-size: 32px;
      margin-bottom: 41px;
      letter-spacing: 0;
    }
    &__item {
      max-width: 320px;
      & img {
        display: block;
        width: 100%;
      }
    }
  }
  .pricing {
    &__title {
      font-size: 32px;
      margin-bottom: 16px;
    }
    &__text {
      margin-bottom: 0;
    }
  }
  .card {
    max-width: 318px;
  }
  .testimonials {
    margin-bottom: 20px;
    &__wrapper-first {
      transform: translateX(-876px);
    }
    &__wrapper-second {
      transform: translateX(-680px);
    }
    &__title {
      font-size: 32px;
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
  .questions {
    &__title {
      font-size: 32px;
      margin-bottom: 12px;
    }
    &__wrapper {
      margin-bottom: 100px;
    }
  }
  .contact {
    &__title {
      font-size: 32px;
      margin-bottom: 10px;
    }
    &__wrapper {
      margin-bottom: 100px;
    }
  }
}
@media (max-width: 350px)  {
  .card {
    &__container {
      padding: 0 35px;
    }
  }
}