p {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  /* or 120% */

  letter-spacing: -0.04em;

  /* Greyscale/Black */

  color: $text-color-black;
}