@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #F8FAFC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  transition: opacity 0.3s, background-color .3s; }
  .btn_xs {
    width: 110px;
    height: 44px;
    background-color: #F0899C; }
  .btn_s-blue {
    width: 130px;
    height: 56px;
    background-color: #00B5E2; }
  .btn_m-blue {
    width: 150px;
    height: 56px;
    background-color: #00B5E2; }
  .btn_l-blue {
    width: 199px;
    height: 56px;
    background: #00B5E2;
    color: white; }
  .btn:hover {
    opacity: 0.8; }
  .btn_l-white {
    width: 199px;
    height: 56px;
    background: #FFFFFF;
    color: black; }
    .btn_l-white:hover {
      background-color: #f1f1f1;
      opacity: 1; }

.active-menu a {
  color: #0F172A;
  font-weight: 600; }

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #0F172A; }
  .title_fz60 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.04em; }
  .title_fz48 {
    font-size: 48px;
    line-height: 66px;
    letter-spacing: -2px; }
  .title_fz24 {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -1px; }

.link-page {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: #F0899C;
  text-decoration: none;
  transition: opacity .2s; }
  .link-page:hover {
    opacity: .8; }

.container {
  width: 1200px;
  margin: 0 auto; }

.header {
  padding: 18px 0 79px 0;
  overflow-x: hidden;
  position: relative; }
  .header__head-wrapper {
    display: flex;
    justify-content: space-between; }
  .header__logo {
    margin-top: 10px; }
  .header__menu {
    margin-left: 65px;
    padding: 0;
    display: flex;
    width: 540px;
    justify-content: space-between; }
    .header__menu-item {
      list-style-type: none; }
    .header__menu-link {
      text-decoration: none;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #657790;
      transition: color .3s; }
      .header__menu-link:hover {
        color: #0F172A; }
    .header__menu-btn {
      margin-top: 5px; }
  .header__block {
    margin-top: 70px; }
  .header__title {
    padding-top: 46px;
    max-width: 675px;
    margin-bottom: 24px; }
  .header__text {
    max-width: 629px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #657790;
    margin-bottom: 32px; }
  .header__pictures {
    position: absolute;
    top: 183px;
    right: -64px;
    display: grid;
    grid-template-columns: repeat(3, 196px);
    grid-template-rows: repeat(2, 255px);
    gap: 35px 39px;
    transform: matrix(1, 0.09, -0.11, 0.99, 0, 0); }
  .header__pict {
    position: relative; }
    .header__pict:hover .header__pict-layer {
      opacity: 1; }
    .header__pict_second {
      margin-top: 92px; }
      .header__pict_second .header__pict-layer {
        bottom: -82px; }
    .header__pict_third {
      margin-top: 40px; }
      .header__pict_third .header__pict-layer {
        bottom: -29px; }
    .header__pict-layer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      position: absolute;
      width: 140px;
      height: 68px;
      background: #FFFFFF;
      border-radius: 8px;
      bottom: 9px;
      left: 26px;
      opacity: 0;
      transition: opacity .2s; }
      .header__pict-layer::before {
        content: '';
        position: absolute;
        top: -10%;
        left: 61px;
        border-width: 10px;
        border-top-width: 0;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #fff; }
    .header__pict-name {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: -0.02em;
      color: #0F172A; }
    .header__pict-post {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: #657790; }
  .header__review {
    margin-top: 80px; }
  .header__comment {
    margin-top: 18px;
    max-width: 544px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #657790; }
  .header__person {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 50px 120px;
    grid-template-rows: repeat(2, 20px);
    gap: 8px 15px; }
    .header__person-img {
      grid-row: 1 / 3; }
    .header__person-name {
      font-family: 'Inter',sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #0F172A; }
    .header__person-post {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #657790;
      grid-column: 2/3; }

.service {
  margin-top: 130px;
  margin-bottom: 150px; }
  .service__title {
    margin: 17px auto 73px auto;
    text-align: center; }
  .service__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 381px));
    grid-template-rows: repeat(2, minmax(320px, auto));
    gap: 32px 28px;
    justify-content: center; }
  .service__item {
    padding: 36px 52px 24px 36px;
    border: 1px solid #E5EAF1;
    border-radius: 10px;
    transition: box-shadow .3s; }
    .service__item-title {
      margin-top: 65px;
      margin-bottom: 12px; }
    .service__item:hover {
      box-shadow: 0 4px 64px rgba(35, 40, 105, 0.08); }
  .service__desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #657790;
    margin-bottom: 22px; }
  .service__link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #00B5E2;
    text-decoration: none;
    position: relative;
    transition: opacity .3s; }
    .service__link::after {
      content: "";
      position: absolute;
      background: url("../../assets/img/icons/arrow.svg") no-repeat;
      top: 1px;
      right: -37px;
      width: 24px;
      height: 20px; }
    .service__link:hover {
      opacity: 0.8; }

.works__title {
  margin: 16px auto 54px auto;
  text-align: center; }
.works__video {
  display: block;
  margin: 0 auto 167px auto;
  border-radius: 32px; }
  .works__video video {
    border-radius: 32px; }

.team__link {
  justify-content: start; }
.team__title {
  margin: 16px auto 48px auto; }
.team__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 171px));
  justify-content: space-between;
  margin-bottom: 182px; }
.team__item {
  position: relative; }
  .team__item img {
    display: block;
    width: 100%;
    height: 100%; }
  .team__item:hover .team__layer {
    opacity: 1; }
  .team__item:nth-child(1) {
    transform: matrix(1, -0.04, 0.03, 1, 0, 0); }
    .team__item:nth-child(1):hover {
      transform: matrix(1, -0.04, 0.03, 1, 0, 0) scale(1.2); }
  .team__item:nth-child(2) {
    transform: matrix(1, 0.01, -0.02, 1, 0, 0); }
    .team__item:nth-child(2):hover {
      transform: matrix(1, 0.01, -0.02, 1, 0, 0) scale(1.2); }
  .team__item:nth-child(3) {
    transform: matrix(1, -0.04, 0.03, 1, 0, 0); }
    .team__item:nth-child(3):hover {
      transform: matrix(1, -0.04, 0.03, 1, 0, 0) scale(1.2); }
  .team__item:nth-child(4) {
    transform: matrix(1, 0.04, -0.06, 1, 0, 0); }
    .team__item:nth-child(4):hover {
      transform: matrix(1, 0.04, -0.06, 1, 0, 0) scale(1.2); }
  .team__item:nth-child(5) {
    transform: matrix(1, -0.03, 0.02, 1, 0, 0); }
    .team__item:nth-child(5):hover {
      transform: matrix(1, -0.03, 0.02, 1, 0, 0) scale(1.2); }
  .team__item:nth-child(6) {
    transform: matrix(1, 0.05, -0.07, 1, 0, 0); }
    .team__item:nth-child(6):hover {
      transform: matrix(1, 0.05, -0.07, 1, 0, 0) scale(1.2); }
.team__layer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  width: 140px;
  height: 68px;
  background: #FFFFFF;
  border-radius: 8px;
  bottom: 9px;
  left: 14px;
  opacity: 0;
  transition: opacity .2s; }
  .team__layer::before {
    content: '';
    position: absolute;
    top: -10%;
    left: 61px;
    border-width: 10px;
    border-top-width: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff; }
.team__name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #0F172A; }
.team__post {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #657790; }

.solutions__title {
  margin: 16px auto 54px auto;
  text-align: center; }
.solutions__wrapper {
  padding: 45px 0;
  margin-bottom: 150px;
  border: 1px solid #E5EAF1;
  border-radius: 13px;
  display: flex;
  justify-content: space-between; }
.solutions__item {
  padding: 0 60px; }
  .solutions__item-title {
    margin-top: 77px;
    margin-bottom: 12px; }
  .solutions__item:nth-child(1) {
    border-right: 1px solid #E5EAF1; }
  .solutions__item:nth-child(2) {
    border-right: 1px solid #E5EAF1; }
.solutions__desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #657790; }

.projects {
  margin-bottom: 160px; }
  .projects__title {
    margin: 16px auto 65px auto;
    text-align: center; }
  .projects__layer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: absolute;
    width: 140px;
    height: 68px;
    background: #FFFFFF;
    border-radius: 8px;
    bottom: 15px;
    left: 125px;
    opacity: 0;
    transition: opacity .2s; }
    .projects__layer::before {
      content: '';
      position: absolute;
      top: -10%;
      left: 61px;
      border-width: 10px;
      border-top-width: 0;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #fff; }
  .projects__name {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #0F172A; }
  .projects__post {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #657790; }
  .projects__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px; }
  .projects__item {
    position: relative; }
    .projects__item:hover .projects__layer {
      opacity: 1; }
    .projects__item:nth-child(1) {
      transform: rotate(0.89deg); }
      .projects__item:nth-child(1) .projects__layer {
        transform: rotate(-2.89deg); }
    .projects__item:nth-child(2) {
      transform: rotate(-2.33deg); }
      .projects__item:nth-child(2) .projects__layer {
        transform: rotate(2.49deg); }
    .projects__item:nth-child(3) {
      transform: rotate(2.99deg); }
      .projects__item:nth-child(3) .projects__layer {
        transform: rotate(-2.8deg); }
    .projects__item:nth-child(4) {
      transform: rotate(-2.53deg); }
      .projects__item:nth-child(4) .projects__layer {
        transform: rotate(2.29deg); }
    .projects__item:nth-child(5) {
      transform: rotate(-0.46deg); }
      .projects__item:nth-child(5) .projects__layer {
        transform: rotate(3.69deg); }
    .projects__item:nth-child(6) {
      transform: rotate(2.02deg); }
      .projects__item:nth-child(6) .projects__layer {
        transform: rotate(-2.09deg); }

.pricing {
  margin-bottom: 150px; }
  .pricing__link {
    justify-content: start; }
  .pricing__title {
    margin-top: 16px;
    margin-bottom: 32px; }
  .pricing__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #657790;
    margin-bottom: 48px; }
  .pricing__container {
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(258px, 318px) minmax(258px, 318px);
    column-gap: 24px; }
  .pricing__wrapper-benefits {
    margin-right: 38px; }

.card {
  padding: 31px 0 47px 0;
  max-width: 318px;
  min-height: 476px;
  border-radius: 12px;
  border: 1px solid #E5EAF1;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box; }
  .card_business {
    background-color: #F0899C; }
  .card__container {
    width: 100%;
    height: 100%;
    padding: 0 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; }
  .card__title {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.3px;
    margin-bottom: 2px;
    line-height: 32px;
    color: #0F172A; }
    .card__title_w {
      color: #FFFFFF; }
  .card__subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 24px;
    color: #657790; }
    .card__subtitle_w {
      color: #FFFFFF; }
  .card__price {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -2px;
    margin-bottom: 20px;
    line-height: 60px;
    color: #0F172A; }
    .card__price_w {
      color: #FFFFFF; }
    .card__price-month {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: #0F172A; }
      .card__price-month_w {
        color: #FFFFFF; }
  .card__divider {
    height: 1px;
    width: 100%;
    background-color: #E5EAF1;
    margin-bottom: 32px; }
    .card__divider_op {
      opacity: 0.3; }
  .card__item {
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 17px;
    line-height: 24px;
    color: #657790; }
    .card__item_w {
      color: #FFFFFF; }
  .card__btn {
    margin-top: 22px; }

.testimonials {
  overflow-x: hidden;
  margin-bottom: 180px; }
  .testimonials__title {
    margin: 16px auto 64px auto;
    text-align: center; }
  .testimonials__wrapper-first {
    width: 1880px;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    transform: translateX(-374px); }
  .testimonials__wrapper-second {
    width: 1880px;
    display: flex;
    gap: 24px;
    margin: 30px auto 0 auto;
    transform: translateX(-167px);
    padding-bottom: 80px; }
  .testimonials__review {
    padding: 21px 14px 18px 21px;
    box-sizing: border-box;
    display: flex;
    gap: 14px;
    min-width: 406px;
    max-width: 406px;
    height: 95px;
    background: #FFFFFF;
    box-shadow: 0 44px 94px rgba(0, 0, 0, 0.06);
    border-radius: 80px; }
    .testimonials__review img {
      width: 52px;
      height: 52px; }
  .testimonials__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #657790; }

.questions {
  overflow-x: hidden;
  position: relative; }
  .questions__link {
    justify-content: start; }
  .questions__wrapper {
    display: grid;
    grid-template-columns: minmax(440px, 540px) 1fr;
    margin-bottom: 150px; }
  .questions__pic-wrapper {
    display: flex;
    gap: 9px;
    height: 572px;
    position: absolute;
    top: 0;
    right: 2px; }
  .questions__summary {
    padding-left: 35px;
    padding-top: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #0F172A;
    list-style-type: none;
    margin-bottom: 10px; }
  .questions__details {
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #657790;
    position: relative;
    border-bottom: 1px solid #E5EAF1;
    padding-bottom: 16px; }
    .questions__details::before {
      content: '';
      border-bottom: 3px solid #657790;
      border-right: 3px solid #657790;
      width: 9px;
      height: 9px;
      display: block;
      transform: rotate(45deg);
      position: absolute;
      top: 25px;
      left: 5px; }
    .questions__details[open]::before {
      transform: rotate(225deg);
      top: 30px; }

/*# sourceMappingURL=style.css.map */
